@charset "utf-8";
@import url("designbase.css");
@import url("whatsnew.css");

/*スライドショー*/
.orbit-container .orbit-slides-container img{
    margin: 0 auto;
}

/*更新履歴*/

/*パネル下に空白を作る*/
#whatsnew{
    margin-bottom: 40px;
}

#main hr{
    margin: 10px auto;
}
