@charset "utf-8";
@import url("designbase.css");

/*地図*/

#googlemap {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    margin-bottom: 20px;
    overflow: hidden;
}

.panel h5{
    font-weight: bold;
}